<div class="row">
    <div class="col-md-4">
        <h3>Selecione archivos</h3>
        <div class="well drop-zone " appNgdropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event"
            [ngClass]="{'file-over': estaSobreElemento}">
            <h4>Deje caer aqui los archivos</h4>
            <img src="../../../assets/drop-images.png" alt="">
        </div>

    </div>
    <div class="col-md-8">
        <h4>Cargar archivos</h4>
        <button (click)="cargarImagenes()" [disabled]="archivos.length === 0" class="btn btn-success">Cargar a
            firebase</button>
        <button (click)="limpiarArchivos()" class="btn btn-danger">Limpiar</button>

        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>tamaño</th>
                    <th>Progreso</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let archivo of archivos">
                    <td>{{ archivo.nombreArchivo}}</td>
                    <td>{{ archivo.archivo.size / 1024 / 1024 | number: '.2-2' }} MB</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%'}"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                    </td>
                </tr>
            </tbody>
           
        </table>
        </div>
        </div>